* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helevetica Neue, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin-left: 40px;
    margin-right: 60px;
}
.header {
    background: #ebebeb;
    text-align: center;
    padding: 30px;
    margin-bottom: 10px;
}
.nav {
    background: #ebebeb;
    text-align: center;
    padding: 30px;
    margin-bottom: 20px;
}
.aside {
    background: #ebebeb;
    width: 40%;
    padding: 20px; 
    text-align: center; 
    float: right;
}

.section {
    background: #ebebeb;
    width: 40%;
    padding: 20px; 
    text-align: center; 
    float: left;

}

#article {
    color: #ebebeb;
    background-color: #777;
    clear: both;

}

#headers {
    background: #ebebeb;
    color: #777;

}

#paragraph {
    background: #ebebeb;
    color: #777;
}
footer {
    background: #ebebeb;
    text-align: center;
    clear: both;
}